// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$client-primary: mat.define-palette(mat.$indigo-palette);
$client-accent: mat.define-palette(mat.$light-blue-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$client-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$client-theme: mat.define-light-theme((
  color: (
    primary: $client-primary,
    accent: $client-accent,
    warn: $client-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($client-theme);


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


//_________________________________________________________________________
//                      CUSTOM GLOBAL CSS
//_________________________________________________________________________
$A100: #8dfffb;
$A200: #0033ff;
$A400: #00fff7;
$A500: #3F51B5;
$A700: #006fff;

$BG-LIGHT: #ffffff;
$BG-DARK: #464646;

.light-theme {
  transition: ease-in-out 350ms;
  background-color: $BG-LIGHT;
  .product{
    border: 1px solid rgba(135, 135, 135, 0.7);
    background-color: white;
  }
  .fluid-bg {
    background-color: $A500;
  }

  .custom-modal-box {
    mat-dialog-container {
      background-color: $BG-LIGHT;
    }
  }
  .main-img-wrapper{
    border-radius: 5px;
    margin: 0 15px 0;
  }
  .select-wrapper{
    background-color: #eaeaea;
    border-radius: 5px;
    margin: 0 12px 0;
  }
}

.dark-theme {
  transition: ease-in-out 350ms;
  background-color: $BG-DARK;
  color: rgb(255 255 255);
  .product{
    border: 1px solid rgba(55, 55, 55, 0.9);
    background-color: #4c4c4c;
    .btn-dark{
      background-color: #626262;
      color: white;
    }
  }
  .fluid-bg {
    background-color: $A500;
    color: black;
  }
  h1,h2,h3,h4,p{
    color: white;
  }
  mat-form-field
  {
    color: white;
  }
  mat-label{
    color: #c8c8c8;
  }
  mat-sidenav-container, mat-tree, mat-paginator{
    background-color: $BG-DARK;
    color: white;
  }
  mat-sidenav,mat-tree-node{
    color: white;
    background-color: #4c4c4c;
  }
  .custom-modal-box {
    mat-dialog-container {
      background-color: $BG-DARK;
    }
  }
  .main-img-wrapper{
    background-color: #6d6d6d;
    border-radius: 5px;
    margin: 0 15px 0;
  }
  .select-wrapper{
    background-color: #6d6d6d;
    border-radius: 5px;
    margin: 0 12px 0;
  }
}
