<h1 class="header-panel">Admin Panel</h1>

<form>
  <div class="container product container-wrapper">
    <div class="row justify-content-center">
      <h1>Add new product</h1>
    </div>
    <div class="row justify-content-center">
      <mat-form-field color="primary">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" name="name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Select Category</mat-label>
        <mat-select>
          <mat-option>

          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Select Brand</mat-label>
        <mat-select>
          <mat-option>

          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row justify-content-center">
      <mat-form-field class="description-input">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Description"></textarea>
      </mat-form-field>
    </div>
    <div class="row justify-content-center">
      <button mat-raised-button color="accent">ADD</button>
    </div>
  </div>
</form>
<div class="container container-wrapper">
  <div class="row">
    <div class="col">
      <form>
        <div class="container product">
          <div class="row">
            <h1>Add new Category</h1>
          </div>
          <div class="row justify-content-center">
            <mat-form-field color="primary" class="input-field-wider">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Name" name="name">
            </mat-form-field>
          </div>
          <div class="row justify-content-center">
            <mat-form-field color="primary" class="description-input">
              <mat-label>Description</mat-label>
              <textarea matInput placeholder="Description" name="description"></textarea>
            </mat-form-field>
          </div>
          <div class="row justify-content-center">
            <button mat-raised-button color="accent">ADD</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col">
      <form>
        <div class="container product">
          <div class="row">
            <h1>Add new Category</h1>
          </div>
          <div class="row justify-content-center">
            <mat-form-field color="primary" class="input-field-wider">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Name" name="name">
            </mat-form-field>
          </div>
          <div class="row justify-content-center">
            <mat-form-field color="primary" class="description-input">
              <mat-label>Description</mat-label>
              <textarea matInput placeholder="Description" name="description"></textarea>
            </mat-form-field>
          </div>
          <div class="row justify-content-center">
            <button mat-raised-button color="accent">ADD</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
