.bg-layout{
  position: relative;
}
.bg-img{
  width: 100%;
  margin: 10px 0 10px;
  padding: 0;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  object-fit: cover;
}
.overlay{
  position: absolute;
  width: min-content;
  margin: 20% 10% 0;
}
h1{
  font-size: 5.8rem;
  color: white;
}
h2{
  color: #006fff;
}
@media only screen and (max-width: 768px) {
  h1{
    font-size: 2.8rem;
  }
  h2{
    font-size: 1.6rem;
  }
  .bg-img{
    height: 70vh;
  }
}
