.header-h1{
  font-size: 3.2rem;
  margin-top: 10px;
}
.category-description{
  margin-top: 5px;
  margin-left: 35px;
}
.product{
  width: 300px;
  min-height: 395px;
  border-radius: 4px;
  margin: 15px 15px 15px;
  padding: 0;
}
.prod-name{
  background-color: #3F51B5FF;
  height: 3rem;
  border-radius:4px ;
  color: white;
  font-size: 1.3rem;
  margin: 0 0 5px;
  padding: 5px 0 0;
}
.prod-name-text{
  white-space: nowrap;

}
.prod-desc{
  text-align: center;
  font-size: 0.9rem;
  margin-left: 15px;
  height: 63px;
  width: 90%;
  overflow: hidden;
}
.prod-price{
  text-align: center;
}
.product-btn{
  width: 80px;
  margin: 5px 10px 10px;
  transition: ease-in-out 200ms;
}
.product-btn:hover{
  transform: scale(104%);
}
.preview-img{
  margin: 8px 0 5px;
  height: 33vh;
  width: 80%;
  background-color: rgba(255, 127, 80, 0.5);
}
.empty-grid{
  height: 70vh;
}
mat-paginator{
  position: sticky;
  bottom: 0.05rem;
}
