<div class="container-fluid footer-bg">
  <div class="row justify-content-evenly fluid-bg">
    <div class="col sm">
      <h1>About us:</h1>
    </div>
    <div class="col sm">
      <h1>Contact us:</h1>
    </div>
    <div class="col sm">
      <h1>Your Account:</h1>
    </div>
  </div>
  <div class="row justify-content-evenly footer-content">
    <div class="col sm">
      <div class="row">
        <p class="p-altered">lorem</p>
        <p>lorem</p>
      </div>
      <div class="row">
        <p class="p-altered">lorem</p>
        <p>lorem</p>
      </div>
      <div class="row">
        <p class="p-altered">lorem</p>
        <p>lorem</p>
      </div>
    </div>
    <div class="col sm">
      <div class="row">
        <p class="p-altered">lorem</p>
        <p>lorem</p>
      </div>
      <div class="row">
        <p class="p-altered">lorem</p>
        <p>lorem</p>
      </div>
      <div class="row">
        <p class="p-altered">lorem</p>
        <p>lorem</p>
      </div>
    </div>
    <div class="col sm">
      <div class="row">
        <p class="p-altered">lorem</p>
        <p>lorem</p>
      </div>
      <div class="row">
        <p class="p-altered">lorem</p>
        <p>lorem</p>
      </div>
      <div class="row">
        <p class="p-altered">lorem</p>
        <p>lorem</p>
      </div>
    </div>
  </div>
</div>
