.container-fluid{
  margin: 50px 0 0;
  position: relative;
  bottom: 0;
}
.fluid-bg{
  border-bottom: 2px solid black;
}
p{
  text-align: center;
}
h1{
  margin: 15px 0 15px;
  text-align: center;
  font-size: 25px;
}
.footer-content{
  text-align: center;
  margin: 10px 0 0;
}
