.container-fluid{
  position: relative;
  bottom: 0;
}
p{
  width: max-content;
  text-align: center;
  margin: 0;
}
.p-link{
  transition: ease-in-out 200ms;
  cursor: pointer;
}
.p-link:hover{
  transform: scale(105%);
}
h1{
  margin: 15px 0 15px;
  color: white;
  text-align: center;
  font-size: 25px;
}
img{
  width: 13%;
  height: 13%;
 }
.footer-content{
  text-align: center;
  margin: 10px 0 0;
}
.contact{
  width: 70%;
  margin: auto;
}
.colorized{
  color: #0080ff;
}
row{
  margin-top: 5px;
  margin-bottom: 5px;
}
