<div class="container product">
  <div class="row">
    <div class="col">
      <img class="main-img" alt="Product-image">
    </div>
    <div class="col">
      <h1 class="header-h1">{{product?.name}}</h1>
      <p class="description">{{product?.description}}</p>
    </div>
  </div>
  <div class="row bottom-row">
    <div class="col">
      <div class="row">
        <div class="img-select">
          <img>
        </div>
        <div class="img-select">
          <img>
        </div>
        <div class="img-select">
          <img>
        </div>
        <div class="img-select">
          <img>
        </div>
      </div>
    </div>
    <div class="col align-self-center">
      <div class="row justify-content-evenly">
        <button mat-raised-button color="primary" class="btn-control" routerLink="..">Back</button>
        <button mat-raised-button color="accent" class="btn-control">BUY</button>
      </div>
    </div>
  </div>
</div>
