<div class="container-fluid">
  <div class="row justify-content-start align-items-center">
    <div class="col-auto">
      <button class="sidenav-btn basket" mat-button (click)="snav.toggle()">
        <mat-icon>view_list</mat-icon>
      </button>
    </div>
    <div class="basket col-auto" routerLinkActive="active" routerLink="basket">
      <button mat-button class="nav-link">
        <mat-icon fontIcon="shopping_basket"></mat-icon>
      </button>
    </div>
  </div>
  <mat-sidenav-container>
    <mat-sidenav #snav opened="{{!mobileQuery.matches}}" [mode]="mobileQuery.matches ? 'over' : 'side'"
                 role="navigation" position="start">
      <form>
        <mat-form-field>
          <mat-label>
            <mat-icon fontIcon="search"></mat-icon>
            Search
          </mat-label>
          <input matInput type="search">
        </mat-form-field>
      </form>
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding="">
          <button mat-icon-button disabled></button>
          <div class="nav-link" routerLinkActive="active" routerLink="{{node.name}}">{{node.name}}</div>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding="">
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              <div class="nav-link">{{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}</div>
            </mat-icon>
          </button>
          {{node.name}}
        </mat-tree-node>
      </mat-tree>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
